<!DOCTYPE html>
<html>
<head>
  <title>MYBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Exo 2' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/navigation" %>
<%= render "layouts/msg" %>
<div class="container">
   <%= yield %>
</div>
<%= render 'layouts/footer'%>

</body>
</html>
